[Unit]
Description=AutoSuspend for servers
After=network.target

[Service]
ExecStart=/usr/bin/autosuspend.py eth0 -t 600

[Install]
WantedBy=multi-user.target
